<div fxLayout="row" fxLayoutAlign="center center" style="margin: 24px 0;">
  <mat-card fxFlex="90%">
    <mat-card-title>Material Tooltips</mat-card-title>

    <mat-divider></mat-divider>

    <mat-card-content fxLayout="column">

      <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="start stretch" fxLayoutAlign.gt-md="start start" style="margin: 24px 0">
        <div fxFlex fxFlex.gt-md="30%" style="margin-right: 24px;">
          <div fxLayout="column">
            <h3>Tooltips</h3>
            <h4>&lt;mat-button&gt;</h4>
            <p>Tooltips offer space for additional information on e.g. an icon.</p>
            <h5>Example:</h5>
            <p><code msHighlight class="html">&lt;button mat-button matTooltip="I'm a Tooltip!"&gt;<br/>  Button<br/>&lt;/button&gt;</code></p>
          </div>
        </div>
        <div class="demo-tabs mat-elevation-z2" fxFlex>
          <mat-tab-group>
            <mat-tab label="PREVIEW">
              <div class="demo-preview" fxLayout="row" fxLayoutAlign="center center">
                <mat-card fxFlex="80%" fxFlex.sm="90%">
                  <mat-card-content fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-around center" fxLayoutWrap="wrap">
                    <button mat-icon-button matTooltip="Favorite this"><mat-icon>favorite</mat-icon></button>
                  </mat-card-content>
                </mat-card>
              </div>
            </mat-tab>
            <mat-tab label="HTML">
              <code [innerHTML]="getEscaped(tooltipHTML)" msHighlight class="html"></code>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>

    </mat-card-content>

  </mat-card>
</div>

