<div fxLayout="row" fxLayoutAlign="center center" style="margin: 24px 0;">
  <mat-card fxFlex="90%">
    <mat-card-title>Material Menu</mat-card-title>

    <mat-divider></mat-divider>

    <mat-card-content fxLayout="column">

      <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="start stretch" fxLayoutAlign.gt-md="start start" style="margin: 24px 0">
        <div fxFlex fxFlex.gt-md="30%" style="margin-right: 24px;">
          <div fxLayout="column">
            <h3>Menu with Icons</h3>
            <h4>&lt;mat-menu&gt;</h4>
            <p>Menus offer a list of options that are displayed when triggered. The position (before, after) and (above, below) is automatically decided, but can be overridden with e.g. x-position='before'.</p>
            <h5>Example:</h5>
            <p><code msHighlight class="html">&lt;mat-menu&gt;<br/>  &lt;button mat-menu-item&gt;<br/>    &lt;mat-icon&gt;dialpad&lt;/mat-icon&gt;<br/>  &lt;/button&gt;<br/>&lt;/mat-menu&gt;</code></p>
          </div>
        </div>
        <div class="demo-tabs mat-elevation-z2" fxFlex>
          <mat-tab-group>
            <mat-tab label="PREVIEW">
              <div class="demo-preview" fxLayout="row" fxLayoutAlign="center center">
                <mat-card fxFlex="80%" fxFlex.sm="90%">
                  <mat-card-content fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu">
                      <button mat-menu-item>
                        <mat-icon> dialpad </mat-icon>
                        <span> Redial </span>
                      </button>
                      <button mat-menu-item disabled>
                        <mat-icon> voicemail </mat-icon>
                        <span> Check voicemail </span>
                      </button>
                      <button mat-menu-item>
                        <mat-icon> notifications_off </mat-icon>
                        <span> Disable alerts </span>
                      </button>
                    </mat-menu>
                  </mat-card-content>
                </mat-card>
              </div>
            </mat-tab>
            <mat-tab label="HTML">
              <code [innerHTML]="getEscaped(menuHTML)" msHighlight class="html"></code>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="start stretch" fxLayoutAlign.gt-md="start start" style="margin: 24px 0">

        <div fxFlex>
          <h3>Menu without Icons</h3>
          <div class="demo-tabs mat-elevation-z2" fxFlex>
            <mat-tab-group>
              <mat-tab label="PREVIEW">
                <div class="demo-preview" fxLayout="row" fxLayoutAlign="center center">
                  <mat-card fxFlex="80%" fxFlex.sm="90%">
                    <mat-card-content fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center">
                      <button mat-icon-button [matMenuTriggerFor]="menu2">
                        <mat-icon>grade</mat-icon>
                      </button>

                      <mat-menu #menu2="matMenu">
                        <button mat-menu-item> Refresh </button>
                        <button mat-menu-item> Settings </button>
                        <button mat-menu-item> Help </button>
                        <button mat-menu-item disabled> Sign Out </button>
                      </mat-menu>
                    </mat-card-content>
                  </mat-card>
                </div>
              </mat-tab>
              <mat-tab label="HTML">
                <code [innerHTML]="getEscaped(menu2HTML)" msHighlight class="html"></code>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>

      </div>

    </mat-card-content>

  </mat-card>
</div>


