<div fxLayout="row" fxLayoutAlign="center center" style="margin: 24px 0;">
  <mat-card fxFlex="90%">
    <mat-card-title>Material Snack-Bars</mat-card-title>

    <mat-divider></mat-divider>

    <mat-card-content fxLayout="column">

      <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="start stretch" fxLayoutAlign.gt-md="start start" style="margin: 24px 0">
        <div fxFlex fxFlex.gt-md="30%" style="margin-right: 24px;">
          <div fxLayout="column">
            <h3>Snack-Bar Notification</h3>
            <p>Snack-Bars are a great way to display notifications to users or to give the user the status on something.</p>
            <h5>Example:</h5>
            <p><code [innerHTML]="getEscaped(snackbarTS)" msHighlight class="typescript"></code></p>
          </div>
        </div>
        <div class="demo-tabs mat-elevation-z2" fxFlex>
          <mat-tab-group>
            <mat-tab label="PREVIEW">
              <div class="demo-preview" fxLayout="row" fxLayoutAlign="center center">
                <mat-card fxFlex="80%" fxFlex.sm="90%">
                  <mat-card-content fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-around center" fxLayoutWrap="wrap">
                    <button mat-button (click)="openSnackbar()">Trigger Snackbar</button>
                  </mat-card-content>
                </mat-card>
              </div>
            </mat-tab>
            <mat-tab label="HTML">
              <code [innerHTML]="getEscaped(snackbarHTML)" msHighlight class="html"></code>
            </mat-tab>
            <mat-tab label="TS">
              <code [innerHTML]="getEscaped(snackbarTS)" msHighlight class="typescript"></code>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>

    </mat-card-content>

  </mat-card>
</div>

